@font-face {
	font-family: 'IBM-Plex';
	src: url('../assets/IBMPlexMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IBM-Plex';
	src: url('../assets/IBMPlexMono-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body,
html {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;

	font-family: 'IBM-Plex';
	background-color: #FDFFFC;
	color: #011627;
	text-align: center;
}

main {
	flex-grow: 1;
	width: 90vw;
	display: flex;
	flex-direction: column;
	margin-top: 10rem;
}

footer {
	flex-shrink: 0;
	width: 75%;
	max-width: 50rem;
	margin: 0 auto;
	font-size: 1.2em;
	word-wrap: none;
}

.container {
	height: 100vh;
	min-width: 30rem;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.header {
	font-size: 4em;
	font-weight: bold;
}

.value-input {
	box-sizing: border-box;
	font-family: 'IBM-Plex';
	padding: 0.5rem 1rem;
	margin: 2rem auto;
	border: 1px solid #ccc;
	border-radius: 6px;
	align-self: center;
	width: 25rem;
	height: 3rem;
	text-align: center;
}

.result {
	font-size: 1.2em;
	margin: 0 auto;
}

.github-logo {
	height: 5rem;
}

.github-logo:hover {
	filter: invert(25%);
}

*:focus {
	outline: none;
}


/* ===== Breakpoints ===== */

/* Small Devices*/
@media only screen and (max-width: 600px) {
	main {
		width: 90vw;
		margin-top: 2rem;
	}

	footer {
		width: 85%;
		margin: 0 auto;
		font-size: 0.8em;
	}

	.container {
		min-width: 15rem;
	}

	.header {
		font-size: 2em;
	}

	.value-input {
		margin: 2rem auto;
		width: 15rem;
	}

	.result {
		font-size: 1em;
	}
}


/* Base for wider devices */
@media only screen and (min-width: 601px) {}


/* Medium Devices */
@media only screen and (min-width: 768px) {}


/* Large Screens*/
@media only screen and (min-width: 992px) {}
