@font-face {
	font-family: 'Joystix';
	src: url('../assets/JoystixMonospace-Regular.woff2') format('woff2'), url('../assets/JoystixMonospace-Regular.woff') format('woff'), url('../assets/JoystixMonospace-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Joystix';
	background-color: black;
	color: white;
	text-align: center;
}

main {
	flex-grow: 1;
	width: 90vw;
}

footer {
	flex-shrink: 0;
	margin: 0 auto;
	font-size: 1em;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	font-size: 3em;
	margin: 5rem auto 5rem auto;
	text-align: center;
}

.form-group {
	max-width: 40rem;
	margin: 0 auto;
	text-align: start;
}

.value-input {
	margin: 2rem auto;
}

input[type=text], select {
	font-family: 'Joystix';
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.result {
	font-size: 1.2em;
	margin: 1rem auto;
	visibility: hidden;
	word-wrap: break-word;
}

.github-logo {
	height: 5rem;
	filter: invert(1);
}

.github-logo:hover {
	filter: invert(25%);
}

*:focus {
	outline: none;
}

/* ===== Breakpoints ===== */

/* Small Devices*/

@media only screen and (max-width: 600px) {
	footer {
		margin: 0 auto;
		font-size: 1em;
	}
	.header {
		font-size: 1.5em;
		margin: 1rem auto 2rem auto;
	}
	.form-group label {
		font-size: 0.7em;
	}
	.result {
		font-size: 1em;
		margin: 1rem auto;
	}
}

/* Base for wider devices */

@media only screen and (min-width: 601px) {}

/* Medium Devices */

@media only screen and (min-width: 768px) {}

/* Large Screens*/

@media only screen and (min-width: 992px) {}